@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #4f4aa6;
    --secondary-color: #1f8605;
    --bg-color: #099FA6;
    --light-color: #39ff14;
    --font-family-condensed: "Roboto Condensed", sans-serif;

  }

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
 }


 body{
    font-family: Arial, Helvetica, sans-serif;
 }

 .container{
    max-width: 1200px;
    margin: 0 auto;
 }

 .header{
    background-image: url(./Assets/images/bggatos.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    min-height: 100vh;
    align-items: center;
 }
  
  .menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo{
    color: var(--light-color);
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-size: 25px;
    font-weight: bold;
  }

  .menu .navbar ul li{
    position: relative;
    float: left;
  }

  .menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #1a5e0e;
    display: block;
    font-weight: bold;
  }

  .menu .navbar ul li a:hover{
    color: #39ff14 ;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }

  .icons{
    font-display: flex;
  }

  .icons i{
    font-size: 25px;
    color: var(--light-color);
    margin-right: 15px;
    cursor: pointer;
  }

  .icons i:hover{
    color: var(--secondary-color);
  }

  #menu{
    display: none;
  }

  .menu-icono{
    width: 25px;

  }

  .menu label{
    cursor: pointer;
    display: none;
  }

  .header-content{
    width: 40%;
}

  .header-content h1{
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
    text-transform: uppercase;
    color: #01fd0e;
    margin-bottom: 25px;
    font-family: var(--font-family-condensed);
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;

}

.header-content p{
  font-size: 20px;
  color: var(--light-color);
  font-weight: 500px;
  margin-bottom: 25px;
  opacity: 0.8;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}


  .btn-1{
    display: inline-block;
    padding: 13px 20px;
    border-radius: 25px;
    text-transform: uppercase;
    color: var(--light-color);
    background-color: #050505;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
   font-family: var(--font-family-condensed);
  }

  .btn-1:hover{
    background-color: var(--secondary-color);
  }

  .imagenes{
    width: 600px;
    height: 380px;
    position: absolute;
    right: 0;
  }

  .swiper{
    width: 100%;
    height: 100%;
  }

  .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

  }

  .swiper-slide h3{
    position: absolute;
    left: 20px;
    bottom: 20px;
    color:#39ff14;
    font-family: var(--font-family-condensed);
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }

  .swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  .rows {
    width: 180px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 75px; /* Ajusta el espacio entre las flechas y las imágenes */
}

  .swiper-button-prev{
    height: 30px;
    width: 30px;
    border:2px solid var(--light-color);
    border-radius: 50%;
    font-size: 15px;
  }

  .swiper-button-next{
    height: 30px;
    width: 30px;
    border:2px solid var(--light-color);
    border-radius: 50%;
    font-size: 15px;
  }

  .swiper-button-prev:after{
    font-size: 25px;
    color: var(--light-color);
  }

  .swiper-button-next:after{
    font-size: 25px;
    color: var(--light-color);
  }

  @media(max-width:991px){
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;

    }

    .menu .navbar{
        position: absolute;
        top:100%;
        left:0%;
        right: 0%;
        background-color: #3f3f3f48;
        backdrop-filter: blur(5px);
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .icons{
        display: none;
    }
.header{
    padding: 80px 30px 50px 30px;
    align-items: self-start;
    flex-direction: column;
    align-items: center;
}

.header-content{
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

.header-content h1{
    margin-bottom: 10px;
}

.imagenes{
    position: initial;
    width: 300px;
    height: 300px;
}

.rows{
    display: none;
}

  }